*{
    margin:auto;
    padding: auto;
    box-sizing: border-box; 
}
body{
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(to top,rgb(17, 0, 100),rgb(29, 174, 241));
    font-family: "Merienda", cursive;
    font-size: 20px;
    color:black;
}
form{
    text-align:center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
button:hover{
    background-color:rgb(6, 151, 255)
}
footer {
    text-align: center;
    margin-top: 30px;
}
footer a {
    color: white;
    font-size: 28px;
    margin: 0 10px;
}
footer a:hover {
    color: rgb(233, 246, 2);
}
section{
    align-items: center;
    border: 5px solid rgb(0, 4, 255);
    background:linear-gradient(rgb(255, 255, 255),rgb(153, 230, 243));
    display:flex;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width:550px;
}